<h2 class="container">Crear Customer</h2>

<div class="container">

  <form>

    <div class="mb-3">
      <label for="fisrtName" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="fisrtName">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Apellidos</label>
      <input type="email" class="form-control" id="lastName">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
